---
permalink: "/{{ locale }}/ornek/index.html"
translationKey: "example"
---

{% extends "layouts/base.njk" %}

{% set metaTitle= "Örnek" %}

{% block content %}

  <h2>Örnek</h2>
  <p>Bu örnek bir sayfadır.</p>

{% endblock %}
