---
permalink: index.html
---
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; URL=/tr/" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon site</title>
</head>
<body>
  <p><a href="/tr/">Bu bağlantıyı takip et</a></p>
</body>
</html>